.addPerson{
    width: 400px;
    height: 200px;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,.3);
    padding: 30px;
    margin-top: 50px;
    margin-bottom:50px;
}
.login-form-button{
    width: 100%;
}